aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
alibabacloud-credentials==0.3.6
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-fc-util==0.0.4
alibabacloud-gateway-spi==0.0.3
alibabacloud-openapi-util==0.2.2
alibabacloud-tea==0.4.3
alibabacloud-tea-openapi==0.3.14
alibabacloud-tea-util==0.3.13
alibabacloud-tea-xml==0.0.2
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-ram==3.3.0
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
frozenlist==1.5.0
gevent==24.11.1
greenlet==3.2.0
idna==3.10
jmespath==0.10.0
multidict==6.4.3
propcache==0.3.1
pycparser==2.22
requests==2.32.3
typing_extensions==4.13.2
urllib3==2.4.0
websocket-client==1.8.0
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
